BasedOnStyle: Google
ColumnLimit: 120
BreakBeforeBraces: Allman
IndentWidth: 4
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveMacros: Consecutive
AlignEscapedNewlines: Left
AlignOperands: Align
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
BinPackArguments: false
BinPackParameters: false
DerivePointerAlignment: false
IndentCaseLabels: false
InsertTrailingCommas: Wrapped
MaxEmptyLinesToKeep: 2
PointerAlignment: Middle
